.list-component
  background-color: $gray-200
  min-height: 480px
  width: calc(100vw - 2rem)
  padding-top: 0.5rem
  position: relative
  user-select: none
  
  &.loading
    .preloader
      position: absolute
      z-index: 1
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: rgba(255, 0, 0, 0.6)

  .list-content
    width: 100%
    min-height: 480px
    overflow-X: auto
    display: flex
    justify-content: flex-start
    flex-wrap: nowrap
    align-content: flex-start
    
    .list-item--wrapper, .list-item-new--wrapper
      width: 18rem
      padding-left: 0.5rem
      flex-grow: 0
      flex-shrink: 0
      flex-basis: 18rem
    .list-item-new--wrapper
      width: 21rem
      flex-basis: 21rem
      padding-right: 3rem

.list-item
  padding: 0.5rem
  background-color: $gray-100
  border-radius: 2px
  box-shadow: 0 2px 6px rgba(0,0,0,0.07)

  &--title
    margin-top: 0.25rem
    font-size: 1rem
    line-height: 1.5rem
    padding-bottom: .25rem
    margin-bottom: .5rem
    font-weight: bold
    padding-left: 5px

.list-item--btn-new
  text-align: left
  font-size: 1rem
  vertical-align: top
  cursor: pointer
  font-weight: bold

.btn--new-list
  padding-left: 5px

.edit-list-title
  padding-left: 0.25rem
  padding-right: 0.25rem