<!--
  #lisContainer: ref
  cpTouchScroll: Directive
-->
<div #listContainer  [ngClass]="{'list-component': true, 'loading': loading}">

  <div *ngIf="!loading" class="list-content" cpTouchScroll>
    
    <div *ngFor="let listItem of renderList" class="list-item--wrapper">
      <cp-list-item
        [listTitle]="listItem.title"
        [listId]="listItem._id"
      ></cp-list-item>
    </div>

    <div class="list-item-new--wrapper">
      <cp-list-item-new></cp-list-item-new>
    </div>

  </div>

  <div *ngIf="loading" class="preloader"></div>
  
</div>
